@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100vh;

	h1 {
		margin-bottom: 20px;
	}

	button {
		color: rgb(215, 167, 255);
		font-size: 1rem;
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 20px;
		padding: 10px 30px;
		border-radius: 10px;
		border: none;
		outline: none;
		cursor: pointer;
		transition: all 0.5s ease-out;

		&:hover {
			background: lightgray;
			color: rgb(180, 92, 252);
			padding: 20px 40px;
		}
	}

	.gridBox {
		border: 1px solid #000;
	}
}
